* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: sans-serif;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	height: max-content;
	min-height: 95vh;
}

@media (max-width: 812px) {
	.ant-btn,
	.ant-btn-lg {
		height: 32px !important;
	}

	:where(.css-dev-only-do-not-override-ed5zg0).ant-space {
		display: flex !important;
		flex-wrap: wrap !important;
		justify-content: center !important;
	}
}
